<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultaFilmesController</servlet-name>
        <servlet-class>controller.ConsultaFilmesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaGeneroController</servlet-name>
        <servlet-class>controller.ConsultaGeneroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuarioController</servlet-name>
        <servlet-class>controller.ConsultaUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaFornecedorController</servlet-name>
        <servlet-class>controller.ConsultaFornecedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaHistoricoClienteController</servlet-name>
        <servlet-class>controller.consultaHistoricoClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaCategoriaController</servlet-name>
        <servlet-class>controller.ConsultaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaFilmeController</servlet-name>
        <servlet-class>controller.ConsultaFilmeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCategoriaController</servlet-name>
        <servlet-class>controller.ConsultaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClienteController</servlet-name>
        <servlet-class>controller.ConsultaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCategoriaController</servlet-name>
        <servlet-class>controller.ManterCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterGeneroController</servlet-name>
        <servlet-class>controller.ManterGeneroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaFilmesController</servlet-name>
        <url-pattern>/ConsultaFilmesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaFornecedorController</servlet-name>
        <url-pattern>/ConsultaFornecedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaHistoricoClienteController</servlet-name>
        <url-pattern>/consultaHistoricoClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaCategoriaController</servlet-name>
        <url-pattern>/consultaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaFilmeController</servlet-name>
        <url-pattern>/ConsultaFilmeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaGeneroController</servlet-name>
        <url-pattern>/ConsultaGeneroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuarioController</servlet-name>
        <url-pattern>/ConsultaUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCategoriaController</servlet-name>
        <url-pattern>/ConsultaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClienteController</servlet-name>
        <url-pattern>/ConsultaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCategoriaController</servlet-name>
        <url-pattern>/ManterCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterGeneroController</servlet-name>
        <url-pattern>/ManterGeneroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
